<ul>
	{#await categories}
		Loading...
		{:then result}
			{#each result.data.categories as category}
				<li class="card" style="background-image: url({category.image})" on:click="$setCurrentCategory(category._id)">
					<div class="overlay">
						<p>{category.name}</p>
					</div>
				</li>
			{/each}
		{:catch error}
			Error: {error}
	{/await}
</ul>

<script>
  import { query, connect } from 'svelte-apollo';
	import gql from 'graphql-tag';

  export default {
		data: () => ({
			categories: query(gql`
					query QueryCategories {
						categories {
							_id
							name
							image
						}
					}
				`)
		}),
		onstate: connect
  };
</script>

<style>

	ul {
		margin: 0;
		padding: 0;
	}

	.card {
		height: 500px;
		width: 100%;
		background-size: cover;
		background-position: center center;
		background-repeat: none;
		list-style: none;
	}

	.overlay {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		color: #fff;
		font-size: 2em;
	}
</style>
