<div>
	{#if !$currentRecipeOverview}
		<header>
			<img src="{logo}" alt="Ava logo" />
		</header>
	{/if}
	{#if $currentRecipeOverview}
		<RecipeOverview />
	{:elseif $currentRecipe.id}
		<Recipe />
	{:elseif $currentCategory}
		<RecipeList />
	{:else}
		<CategoriesList />
	{/if}
</div>

<style>
	header {
		width: 100%;
		position: absolute;
		top: 0;
		padding-bottom: 20px;
		padding-top: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	header img {
		height: 80px;
		width: auto;
	}
</style>

<script>
	import logo from './Ava.svg';

	export default {
	  data: () => ({
	    logo
	  }),
	  components: {
			CategoriesList: '../CategoriesList/index.html',
			RecipeOverview: '../RecipeOverview/index.html',
			RecipeList: '../RecipeList/index.html',
			Recipe: '../Recipe/index.html'
	  }
	};
</script>
