<ul>
	{#await recipes}
		Loading...
		{:then result}
			{#each result.data.recipes as recipe}
				<li class="card" style="background-image: url({recipe.image})" on:click="$setCurrentRecipe(recipe._id)">
					<div class="overlay">
						<p>{recipe.title}</p>
					</div>
				</li>
			{/each}
		{:catch error}
			Error: {error}
	{/await}
</ul>

<script>
  import { query, connect } from 'svelte-apollo';
	import gql from 'graphql-tag';

	export default {
		async oncreate() {
			const { currentCategory: categoryId } = this.store.get();
			const result = query(gql`
				query QueryRecipes($categoryId: ID!) {
					recipes(categoryId: $categoryId) {
						_id
						image
						title
						description
					}
				}
			`, { variables: { categoryId } });
			
			this.set({
				recipes: result
			});
		},
		data() {
			return {
				recipes: new Promise(() => {})
			};
		},
		onstate: connect
  };
</script>

<style>

	ul {
		margin: 0;
		padding: 0;
	}

	.card {
		height: 500px;
		width: 100%;
		background-size: cover;
		background-position: center center;
		background-repeat: none;
		list-style: none;
	}

	.overlay {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		color: #fff;
		font-size: 2em;
	}
</style>
