<ul>
	{#await categories}
		{:then result}
			<CardList items="{result.data.categories}" datafield="name" on:click="$setCurrentCategory(event.data)" />
		{:catch error}
			Error: {error}
	{/await}
</ul>

<script>
  import { query, connect } from 'svelte-apollo';
  import gql from 'graphql-tag';

  export default {
	  	components: {
		  CardList: '../CardList/index.html'
		},
		data: () => ({
			categories: query(gql`
					query QueryCategories {
						categories {
							_id
							name
							image
						}
					}
				`)
		}),
		onstate: connect
  };
</script>
