<div class="step">
	<div class="main-container">
		<p class="mainText">{$step.text}</p>
	</div>
	<div class="timer-container">
		{#each $timersToShow as timer}
			{#if timer.inactive}
				<ProgressRing color="rgba(255, 255, 255, 0.7)" progress={timer.percentualProgress} text="{timer.name}" on:click="startTimerByName(timer.name)" />
				{:else}
					<ProgressRing color="{timer.color}" progress={timer.percentualProgress} text="{timer.name}" on:click="startTimerByName(timer.name)" />
			{/if}
		{/each}
	</div>
	<div class="buttons">
		<button on:click="back()"></button>
		<button on:click="next()"></button>
	</div>
	<div class="potrait-warning">
		Please turn your phone into landscape mode
	</div>
	<!--{#each $currentRecipe.activeTimers as timer}
		<p>{timer.ofStep}</p>
	{/each}-->
</div>

<style>

	.main-container {
		height: 80vh;
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: #fff;
		font-weight: 100;
		font-size: 3em;
	}

	.timer-container {
		position: fixed;
		bottom: 10px;
		left: 0px;
		display: flex;
		z-index: 100;
	}

	.buttons button {
		height: 100%;
		width: 20%;
		position: fixed;
		top: 0;
		background: none;
		border: none; 
	}

	.buttons button:first-of-type {
		left: 0;
		/* background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));*/
	}

	.buttons button:nth-of-type(2) {
		right: 0;
		/* background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)); */
	}

	@media only screen and (max-width: 815px) {
		.main-container {
			font-size: 11vh;
		}
	}

	.potrait-warning {
		display: none;
	}

	@media screen and (orientation:portrait) {
		.potrait-warning {
			display: flex;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 10000;
			background: rgb(44, 44, 44);
			color: #fff;
			justify-content: center;
			align-items: center;
		}
	}
</style>

<script>
	export default {
	  components: {
		ProgressRing: '../ProgressRing/index.html'
	  },
	  methods: {
		back() {
		  const { currentRecipeInstance } = this.store.get();
		  if (currentRecipeInstance)
		  	currentRecipeInstance.back();
		},
		next() {
		  const { currentRecipeInstance } = this.store.get();
		  if (currentRecipeInstance)
		  	currentRecipeInstance.next();
		},
		startTimerByName(name) {
		  const { currentRecipeInstance } = this.store.get();
		  if (currentRecipeInstance)
		  	currentRecipeInstance.startTimerByName(name);
		}
	  }
	};
</script>
