<div class="step">
	<div class="main-container">
		<p class="mainText">{$step.text}</p>
	</div>
	<div class="timer-container">
		{#each $timersToShow as timer}
			{#if timer.inactive}
				<ProgressRing color="#fff" progress={timer.percentualProgress} text="{timer.name}" on:click="startTimerByName(timer.name)" />
				{:else}
					<ProgressRing color="{timer.color}" progress={timer.percentualProgress} text="{timer.name}" on:click="startTimerByName(timer.name)" />
			{/if}
		{/each}
	</div>
	<div class="buttons">
		<button on:click="back()"></button>
		<button on:click="next()"></button>
	</div>
	<!--{#each $currentRecipe.activeTimers as timer}
		<p>{timer.ofStep}</p>
	{/each}-->
</div>

<style>

	.main-container {
		height: 80vh;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 3em;
		text-align: center;
		color: #fff;
	}

	.timer-container {
		position: fixed;
		bottom: 10px;
		left: 0px;
		display: flex;
		z-index: 100;
	}

	.buttons button {
		height: 100%;
		width: 20%;
		position: fixed;
		top: 0;
		background: none;
		border: none;
	}

	.buttons button:first-of-type {
		left: 0;
	}

	.buttons button:nth-of-type(2) {
		right: 0;
	}
</style>

<script>
	export default {
	  components: {
		ProgressRing: '../ProgressRing/index.html'
	  },
	  methods: {
		back() {
		  const { currentRecipeInstance } = this.store.get();
		  if (currentRecipeInstance)
		  	currentRecipeInstance.back();
		},
		next() {
		  const { currentRecipeInstance } = this.store.get();
		  if (currentRecipeInstance)
		  	currentRecipeInstance.next();
		},
		startTimerByName(name) {
		  const { currentRecipeInstance } = this.store.get();
		  if (currentRecipeInstance)
		  	currentRecipeInstance.startTimerByName(name);
		}
	  }
	};
</script>
