<ul>
	{#await recipes}
		{:then result}
			<CardList items="{result.data.recipes}" datafield="title" on:click="$setCurrentRecipe(event.data)" />
		{:catch error}
			Error: {error}
	{/await}
</ul>

<script>
  import { query, connect } from 'svelte-apollo';
	import gql from 'graphql-tag';

	export default {
		components: {
		  CardList: '../CardList/index.html'
		},
		async oncreate() {
			const { currentCategory: categoryId } = this.store.get();
			const result = query(gql`
				query QueryRecipes($categoryId: ID!) {
					recipes(categoryId: $categoryId) {
						_id
						image
						title
						description
					}
				}
			`, { variables: { categoryId } });
			
			this.set({
				recipes: result
			});
		},
		data() {
			return {
				recipes: new Promise(() => {})
			};
		},
		onstate: connect
  };
</script>
